extends layout

block content
    .container
        #rxJumbo.jumbotron.mt-3
            // Page Title and Icon Row -- keep for all pages
            .row.mb-2
                .col-md-10.align-self-end
                    h1.display-3 InteRXact
                .col-md-2
                    img#rxIcon(src='/assets/RX_icon.png')
            // Welcome text/instruction row
            .row.mb-4
                .col-md-12
                    p.lead Here are the most common drug interactions for [their selection].
                    br
                    p.d-inline.mr-3 Don&apos;t see any results? Try entering the medication names again and check spelling:
                    a.btn.btn-sm.returnNewDrugBtn.userTypeBtn(href='/drug/new', role='button') Return to Form
            .row.mb-5
                .col-md-12.text-center.mx-auto
                    p.lead.d-inline Interactions: 
            // Let User add another drug combo row
            .row.my-3
                .col-md-12.text-center
                    p.d-inline.mr-2 Want to add or search another medication combination?
                    a.btn.btn-sm.userTypeBtn(href='/drug/new', role='button') Click Here
            // Return Home Row -- need on all pages except Home
            .row.mt-3
                .col-md-12.text-center
                    p.d-inline.mr-2 Confused or need to start over?
                    a.btn.btn-sm.returnHomeBtn(href='/', role='button') Return Home
