doctype html
html
    head
        meta(charset='utf-8')
        title InteRXact
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Bootstrap CSS
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        // Ion Icons
        link(href='https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css', rel='stylesheet')
        // Our CSS
        link(rel='stylesheet', type='text/css', media='screen', href='/assets/style.css')
    body
        block content
        footer
            .container.mb-3
                .row
                    .col-md-12.text-center
                        p#rxDisclaimer.clearfix All information, content, and material of this website is for informational purposes only and are not intended to serve as a substitute for the consultation, diagnosis, and/or medical treatment of a qualified physician or healthcare provider.
                        // ADD HREF LINK
                        a#footerLinkRB.rxFooterLinks(href='/usersEmail') API Members List
                        a.rxFooterLinks(href='https://github.com/amfirebaugh/fireballsProject2') GitHub Repo
        script(src='/bower_components/jquery/dist/jquery.js')
        // Definitely need popper, and here it is:
        script(src='/bower_components/popper.js/dist/umd/popper.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        // Ion Icons
        script(src='https://unpkg.com/ionicons@4.4.4/dist/ionicons.js')
        // Our JS file
        script(src='/assets/rxApp.js')