doctype html
html
    head
        meta(charset='utf-8')
        title InteRXact
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Bootstrap CSS
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        // Ion Icons
        link(href='https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css', rel='stylesheet')
        // Our CSS
        link(rel='stylesheet', type='text/css', media='screen', href='/assets/style.css')
    body
        block content
        footer
            .container.mb-3
                .row
                    .col-md-12.text-center
                        p
                        // ADD HREF LINK
                        a#footerLinkRB.rxFooterLinks(href='#') API Members List
                        a.rxFooterLinks(href='https://github.com/amfirebaugh/fireballsProject2') GitHub Repo
        script(src='/bower_components/jquery/dist/jquery.js')
        // I confirmed that bootstrap popper is included in the below file.
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        // Ion Icons
        script(src='https://unpkg.com/ionicons@4.4.4/dist/ionicons.js')
        // Our JS file
        script(src='/assets/rxApp.js')