extends layout

block content
    .container
        #rxJumbo.jumbotron.mt-3
            // Page Title and Icon Row -- keep for all pages
            .row.mb-2
                .col-md-10.align-self-end
                    h1.display-4 InteRXact               
                .col-md-2
                    img#rxIcon(src='RX_icon.png')
            // Instruction Row
            .row
                .col-md-12
                    p.lead Fill out the form below to initialize your account. You can then begin entering your drug combinations that will save to your account!                   
                br                   
                p If you have any questions click the 
                ion-icon#questIcon(name='help')
                |  icon next to each input for more information.    
            hr#rxHR.my-4
            // nested container for the form
            .container.mt-5
                .row
                    .col-md-12
                        form(method="POST", action="/users/new")
                            // First Name Input Field
                            .form-group
                                label.lead.mr-2(for='fName') First Name: 
                                    span.rxHelp
                                        ion-icon#firstNameHelp(name='help') 
                                input#firstName.mr-4.form-control(type='text', placeholder='John')
                            // Last Name Input Field
                            .form-group
                                label.lead.mr-2(for='lName') Last Name: 
                                    span.rxHelp
                                        ion-icon#lastNameHelp(name='help')        
                                input#lastName.mr-4.form-control(type='text', placeholder='Doe')
                            // Email Input Field
                            .form-group
                                label.lead.mr-2(for='email') Email address: 
                                    span.rxHelp
                                        ion-icon#emailHelp(name='help')                   
                                input#emailKey.form-control(type='email', placeholder='john.doe@email.com')
                            // Age and Sex Dropdown Row so they're inline
                            .form-row
                                // Age Dropdown
                                .dropdown.mr-4
                                    label.lead.mr-2(for='age') Age:                                   
                                    button#dropdownAgeButton.btn.dropdown-toggle.rxInputDD(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Select                          
                                    .dropdown-menu(aria-labelledby='dropdownAgeButton')
                                        // id's are so we can grab them in JS file later if needed
                                        a#10.dropdown-item.rxAge(href='#') 10-19
                                        a#20.dropdown-item.rxAge(href='#') 20-29
                                        a#30.dropdown-item.rxAge(href='#') 30-39
                                        a#40.dropdown-item.rxAge(href='#') 40-49 
                                        a#50.dropdown-item.rxAge(href='#') 50-59
                                        a#60.dropdown-item.rxAge(href='#') 60+                      
                                    span.rxHelp
                                        ion-icon#ageHelp(name='help')
                                // Sex Dropdown (same form-row as Age)
                                .dropdown
                                    label.lead.mr-2(for='sex') Sex: 
                                    button#dropdownSexButton.btn.dropdown-toggle.rxInputDD(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Select
                                    .dropdown-menu(aria-labelledby='dropdownSexButton')
                                        // id's are so we can grab them in JS file later if needed
                                        a#female.dropdown-item.rxSex(href='#') Female
                                        a#male.dropdown-item.rxSex(href='#') Male
                                    span.rxHelp
                                        ion-icon#sexHelp(name='help')
                            // Submit Button Row
                            .form-row
                                .col-md-12
                                    .float-right
                                        a#newUserSubmit.btn.userTypeBtn.btn-lg(href='/drug/new', role='button') Submit
            // Return Home Row -- need on all pages except Home
            .container
                .row
                    .col-md-12.text-center
                        a.btn.btn-sm.userTypeBtn.d-inline.returnHomeBtn(href='/', role='button') Return Home
