extends layout

block content
    .container
        #rxJumbo.jumbotron.mt-3
            // Page Title and Icon Row -- keep for all pages
            .row.mb-2
                .col-md-10.align-self-end
                    h1.display-3 InteRXact               
                .col-md-2
                    img#rxIcon(src='/assets/RX_icon.png')
            // Instruction Row
            .row
                .col-md-12
                    p.lead Fill out the form below to initialize your account. You can then begin entering your drug combinations that will save to your account!                   
                br                   
                p If you have any questions click the 
                ion-icon#questIcon(name='help')
                |  icon next to each input for more information.    

                p.lead Fill out this quick form and click Submit to initialize your account. Then you&apos;ll automatically see the page where you can enter drug combinations that will save to your account!                   
                br                   
                p If you have any questions click the 
                ion-icon#questIcon(name='help') icon next to each input for more information.
            // nested container for the form
            .container.mt-5
                .row.mb-5
                    .col-md-12
                        form(method="POST", action="/users/new")
                            // First Name Input Field
                            .form-group
                                label.lead.mr-2(for='fName') First Name: 
                                    span.rxHelp
                                        ion-icon#firstNameHelp(name='help')
                                //DARRENS CHANGE 
                                input#firstName.mr-4.form-control(name='userFirstName', type='text', placeholder='John')
                            // Last Name Input Field
                            .form-group
                                label.lead.mr-2(for='lName') Last Name: 
                                    span.rxHelp
                                        ion-icon#lastNameHelp(name='help') 
                                //DARRENS CHANGE       
                                input#lastName.mr-4.form-control(name='userLastName', type='text', placeholder='Doe')
                            // Email Input Field
                            .form-group
                                label.lead.mr-2(for='email') Email address: 
                                    span.rxHelp
                                        ion-icon#emailHelp(name='help')
                                //DARRENS CHANGE                 
                                input#emailKey.form-control(name='userEmail', type='email', placeholder='john.doe@email.com')
                            // Age and Sex Dropdown Row so they're inline
                            .form-row
                                // Age Dropdown
                                .dropdown.mr-4

                                    //DARRENS CHANGE
                                    label.lead.mr-2.pb-3(for='age') Age:
                                        select#userAge.form-control(name='userAge', type='text')
                                            option.rxAge(value='')
                                            option.rxAge(value='10-19') 10-19
                                            option.rxAge(value='20-29') 20-29
                                            option.rxAge(value='30-39') 30-39
                                            option.rxAge(value='30-39') 40-49
                                            option.rxAge(value='50-59') 50-59
                                            option.rxAge(value='60+') 60+ 
                        
                                // Sex Dropdown (same form-row as Age)
                                .dropdown
                                    //DARRENS CHANGE
                                    label.lead.mr-2.pb-3(for='sex') Sex: 
                                        select#userSex.form-control(name='userSex', type='text')
                                            option.rxSex(value='')
                                            option.rxSex(value='male') Male
                                            option.rxSex(value='female') female
                    
                            // Submit Button Row
                            .form-row
                                .col-md-12
                                    .float-right
                                        //DARRENS CHANGE
                                        input.btn.btn-warning(type='submit', value='Submit')
            // Return Home Row -- need on all pages except Home
            .container
                .row
                    .col-md-12.text-center
                        a.btn.btn-sm.returnHomeBtn(href='/home', role='button') Return Home
