extends layout

block content
    .container
        #rxJumbo.jumbotron.mt-3
            // Page Title and Icon Row -- keep for all pages
            .row.mb-2
                .col-md-10.align-self-end
                    h1.display-3 InteRXact
                .col-md-2
                    img#rxIcon(src='/assets/RX_icon.png')
            // Welcome text/instruction row
            .row.mb-4
                .col-md-12
                    p.lead To enter a medication combination start by selecting your email address from the &quot;Find You&quot; menu and then entering medication names in the text fields.
                    br
                    p Don&apos;t know how to spell a medication? Use our search bar below!
            form.form-inline
                .form-row.mb-5.mx-auto
                    // User selects Email
                    .dropdown.mr-5
                        button#dropdownNDFindYouButton.btn.btn-lg.dropdown-toggle.rxInputDD(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Find You
                        .dropdown-menu(aria-labelledby='dropdownNDFindYouButton')
                            // id's are so we can grab them in JS file later if needed
                            a#female.dropdown-item.rxSex(href='#') Female
                            a#male.dropdown-item.rxSex(href='#') Male
                    // User inputs Drug1
                    label.sr-only(for='drug1') Drug 1
                    input#drug1.form-control-lg.mr-4.align-middle(type='text', placeholder='Medication 1')
                    // User inputs Drug2
                    label.sr-only(for='drug2') Drug 2
                    input#drug2.form-control-lg.mr-5(type='text', placeholder='Medication 2')
                    // Submit Btn
                    a#newDrugComboSubmit.btn.userTypeBtn.btn-lg(href='/drug/interaction-results', role='button') Submit
            // Begin Drug Name Search for Spelling Section
            .row.mt-5
                .col-md-6.text-center
                    p Type in the first few letters of the medication you&apos;re trying to spell. Even just two letters is enough!
                    form.form-inline(method='POST', action='/api/getDrug')
                        .form-row.mb-5.mx-auto
                        label.sr-only(for='drugSearch') Drug Search
                        input#drugSearch.form-control.mr-4.align-middle(type='text', placeholder='Ex: lip')
                        button#drugSearchSubmit.btn.userTypeBtn(type='submit', value='Submit') Search
                #drugSearchResultsDiv.col-md-6.text-center
                    p Results will appear below after you click Search:
            // Return Home Row -- need on all pages except Home
            .row.mt-3
                .col-md-12.text-center
                    p.d-inline.mr-2 Confused or need to start over?
                    a.btn.btn-sm.d-inline.returnHomeBtn(href='/', role='button') Return Home
